.footer-link.footer-link-hedding {
    margin: 0px 33px;
}
#bannerLink li {
    list-style: none;
}
#bannerLink li a {
   color: #fff !important;
}
#bannerLinks li {
    list-style: none;
}
body nav .nav-container .nav-container {
    box-shadow: none;
    width: 100%;
    padding: 0;
    position: relative;
}
header nav.header-fancy .nav-header {
    left: -15px;
    bottom: 0;
}
